# Dependency directories
/node_modules

# Compiled output
/build

# Coverage directory
/coverage

# .env file
.env

# Log files
*.log

# Editor directories and files
.idea/
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
